﻿@{ 
    var post = (Postcs)Model;
    var comentarios = (List<Coments>)ViewBag.Coments;
}

<div>
    <h3>@post.Nombre_Post</h3>
    <div>
        <p><strong>Autor: </strong> @post.Autor_Post</p>
        <p><strong>Fecha de Creacion: </strong>@post.Fecha_Post</p>
        <div>
            <p><strong>Contenido</strong> </p>
        </div>
        <p>@post.Contenido_Post</p>
    </div>
</div>

<div>
    <h2>___[COMENTARIOS]___</h2>

    <a href="/Post/RegistrarComentario?idP=@post.Id">Nuevo comentario</a>

    <div>
        @foreach (var item in comentarios)
        {
            <p>@item.Opinion</p>
            <p><strong>fecha creacion:</strong>@item.Fecha_Comentario</p>
        }
    </div>
</div>