﻿@{ 
    var post = (List<Postcs>)Model;
}
<h1>Post de T1 Diars</h1>
<a href="/post/registrar">Crear Blog</a>
</br>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>autor</th>
            <th>Fceha de Publicacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in post)
        {
        <tr>
            <td>@item.Nombre_Post</td>
            <td>@item.Autor_Post</td>
            <td>@item.Fecha_Post</td>
            <td><a href="/Post/Detalle?id=@item.Id">Detalle</a></td>
        </tr>
        }
    </tbody>

</table>