﻿@{
    var post = (Postcs)Model;
}

<h1>Registrar Post</h1>

<form action="/Post/Registrar" method="post">
    Nombre <input class="form-control" name="Nombre_Post" />
    Autor <input class="form-control" name="Autor_Post" />
    Contenido <textarea class="form-control" name="Contenido_Post" rows="3"></textarea>
    <div></div>
    <button class="btn btn-primary">Guardar</button>
</form>
